<!-- Widget: Instagram Section -->
<aside class="widget widget-instagram">
	<div class="widget__content">
		<ul id="instagram-feed-section" class="widget-instagram__list widget-instagram__list-section"></ul>
		<a href="https://www.instagram.com/dan.fisher.dev" class="btn btn-default btn-icon" target="_blank"><i class="fa fa-instagram"></i> Follow Our Instagram</a>
	</div>
</aside>
<!-- Widget: Instagram Section / End -->
